﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="03G0TyUbnsLwGpazCQqpVDPC75TvDX_EAB6dFcyHX_s" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/404style.css")
    @Scripts.Render("~/bundles/modernizr")

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Slabo+27px" rel="stylesheet">
    <!--fonts--->
</head>
<body class="@ViewBag.ClassBody">
    <header>
        <div class="header-logo">
            <a href="/Home/Index">ISM<span>Photos</span></a>
        </div>
        <div>
            @using (Html.BeginForm("ChangeCulture", "Home"))
            {
                <select name="language">
                    <option disabled selected>@Resources.Resource.ChooseLanguage</option>
                    <option value="ru">Русский</option>
                    <option value="en">English</option>
                </select>
                <input type="submit" name="submit" value="@Resources.Resource.ChooseLanguage">
            }
        </div>
        @RenderSection("HeaderMenu", required: false)
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @RenderSection("Footer", required: false)
    </footer>

    @Scripts.Render("~/jquery/ajax")

    <!--SCRIPT-->
    @RenderSection("Scripts", required: false)
    <!--SCRIPT-->
</body>
</html>