﻿@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Resources.Resource.Error;
    ViewBag.ClassBody = "wait-page";
}

<div class="main-message">
    <h1>@Resources.Resource.Error!</h1>
    <span>@Resources.Resource.CanGo<a href="/Home/Index">@Resources.Resource.MainPage</a></span>
</div>
