﻿@model ClassGallery.Mvc.ViewModels.GroupViewModel

@{
    ViewBag.Title = Resources.Resource.GroupСreation;
    ViewBag.ClassBody = "home-page";
}

<section class="container">
    <div class="form create-form">
        <h1>@Resources.Resource.GroupСreation</h1>
        @using (Html.BeginForm("Create", "Group", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "createInput", placeholder = @Resources.Resource.Name } })
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "createInput", placeholder = @Resources.Resource.Description } })
            </p>
            <p>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </p>
            <p class="submit">
                <input type="submit" name="commit" value= @Resources.Resource.Create>
            </p>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}