﻿@using ClassGallery.Mvc.ViewModels

@model ClassGallery.Mvc.ViewModels.GroupPageViewModel

@{
    ViewBag.Title = Resources.Resource.GroupUsers;
    ViewBag.ClassBody = "group-users";
}

<table class="simple-little-table table-show-users">
    <tr>
        <th>
            @Resources.Resource.UserPhoto
        </th>
        <th>
            @Resources.Resource.Username
        </th>
    </tr>
    @foreach (var user in Model.briefUsersInfo)
    {
        <tr>
            <td>
                <img src="@user.ImageUrl" title="@user.Name" alt="@Resources.Resource.ProfilePicture @user.Name" />
            </td>
            <td>
                <a href="@user.ProfileUrl">@user.Name</a>
            </td>
        </tr>
    }
</table>
@if (Session["InviteLink"] != null && Model.InviteLink.EndsWith(Session["InviteLink"].ToString()))
{
    <a href="@Model.InviteLink" style="height: 50px; width: 50px; margin-top: 40px"><img src="http://www.evebbo.com/images/invite.png" style="width: 50px;"alt = @Resources.Resource.JoinGroup/></a>
}
<div class="container-photo">
    @if (Model.Photos.Capacity >0)
    {
            foreach (var url in Model.Photos)
            {
                <div class="photo">
                    <div class="">
                        <a href=@url.Link><img src="@url.Source" alt=@url.CreatedTime /></a>
                    </div>
                </div>
            }
    }
    else
    {
        <h1>@Resources.Resource.MessageNoPhotos</h1>
    }
</div>
