﻿@model IList<ClassGallery.Mvc.ViewModels.GroupViewModel>

@{
    ViewBag.Title = Resources.Resource.MainPage;
    ViewBag.ClassBody = "home-page";
}

@section HeaderMenu {
    <div class="header-menu">
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="#">@User.Identity.Name</a>
                </li>
                <li>
                    @Html.ActionLink(Resources.Resource.CreateGroup, "Create", "Group")
                </li>
                <li>
                    @Html.ActionLink(Resources.Resource.LogOut, "Logout", "Account")
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(Resources.Resource.LogIn, "Login", "Account")
                </li>
            }
        </ul>
    </div>
}


<div class="container-list-group">
    @foreach (var group in Model)
    {
        <article id="@group.Id">
            <div class="main-menu">
                <div class="group-menu">
                    <input type="button" name="copy-link" data-link="@group.InviteLink" value = @Resources.Resource.CopyLink>

                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Delete", "Group", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("groupId", group.Id)
                            <input type="submit" name="delete" value = @Resources.Resource.DeleteGroup>
                        }
                    }
                </div>
            </div>
            <div class="name-group">
                @Html.ActionLink(group.Name, "GroupUsers", new { groupId = group.Id })
            </div>
            <div class="count-user">
                <span>
                    @if (User.Identity.IsAuthenticated && group.RequestsNumber != 0)
                    {
                        @Html.ActionLink(Resources.Resource.Requests + $": {group.RequestsNumber}", 
                           actionName: "ShowRequests", 
                           controllerName: "Group", 
                           htmlAttributes: null, 
                           routeValues: new { groupId = group.Id })
                    }
                </span>
            </div>
        </article>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/copyLink")
}