﻿@model ClassGallery.Mvc.ViewModels.GroupViewModel

@{
    ViewBag.Title = Resources.Resource.RenameGroup;
    ViewBag.ClassBody = "home-page";
}

<section class="container">
    <div class="form create-form">
        <h1>@Resources.Resource.RenameGroup</h1>
        @using (Html.BeginForm("Rename", "Group", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <p>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "renameInput", placeholder = @Resources.Resource.Name } })
            </p>
            <p>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>
            <p class="submit">
                <input type="submit" name="commit" value=@Resources.Resource.Rename>
            </p>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
