﻿@model IEnumerable<ClassGallery.Mvc.ViewModels.UserRequestViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Resource.Requests;
    ViewBag.ClassBody = "wait-page";

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "OnSuccessOperationUser",
        OnFailure = "OnFailureOperationUser",
        LoadingElementId = "load"
    };
}

<table class="table_dark">
    <thead>
        <tr>
            <th>@Resources.Resource.Username</th>
            <th>@Resources.Resource.Confirmation</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var element in Model)
        {
            if (!element.IsConfirmed)
            {
                <tr id="@element.UserGroupId">
                    <td>@element.UserName</td>
                    <td>
                        @using (Ajax.BeginForm("ConfirmRequest", ajaxOptions))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@element.UserGroupId" name="UserGroupId" />
                            <input type="hidden" value="@element.UserName" name="UserName" />
                            <button type="submit" value = @Resources.Resource.Confirm></button>
                        }
                        @using (Ajax.BeginForm("RefuseRequest", ajaxOptions))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@element.UserGroupId" name="UserGroupId" />
                            <input type="hidden" value="@element.UserName" name="UserName" />
                            <button type="submit" value = @Resources.Resource.Refuse></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Partial("Loaded")

<template id="template-form" hidden>
    <tr id="{{idForm}}">
        <td>{{userName}}</td>
        <td>
            @using (Ajax.BeginForm("ConfirmRequest", ajaxOptions))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="{{userGroupId}}" name="UserGroupId" />
                <input type="hidden" value="{{userName}}" name="UserName" />
                <button type="submit" value=@Resources.Resource.Confirm></button>
            }
            @using (Ajax.BeginForm("RefuseRequest", ajaxOptions))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="{{userGroupId}}" name="UserGroupId" />
                <input type="hidden" value="{{userName}}" name="UserName" />
                <button type="submit" value=@Resources.Resource.Refuse></button>
            }
        </td>
    </tr>
</template>

@section Scripts{
    @Scripts.Render("~/bundles/templates")
    @Scripts.Render("~/jquery/requests")
}


