﻿@{
    ViewBag.Title = Resources.Resource.WaitForConfirmation;
    ViewBag.ClassBody = "wait-page";
}

<div class="main-message">
    <img src="~/Content/pictures/wait.png" />
    <h1>@Resources.Resource.WaitForAdminConfirmation</h1>
    <span>@Resources.Resource.CanGo <a href="/Home/Index">@Resources.Resource.MainPage</a></span>
</div>