﻿@model ClassGallery.Mvc.ViewModels.ErrorViewModel

<div class="error-page">
        <div>
            <!--h1(data-h1='400') 400-->
            <!--p(data-p='BAD REQUEST') BAD REQUEST-->
            <!--h1(data-h1='401') 401-->
            <!--p(data-p='UNAUTHORIZED') UNAUTHORIZED-->
            <!--h1(data-h1='403') 403-->
            <!--p(data-p='FORBIDDEN') FORBIDDEN-->
            <h1 data-h1="@Model.StatusCode">@Model.StatusCode</h1>
            <p data-p="@Model.StatusMesage">@Model.StatusMesage</p>
            <!--h1(data-h1='500') 500-->
            <!--p(data-p='SERVER ERROR') SERVER ERROR-->
        </div>
    </div>
