﻿@model ClassGallery.Mvc.ViewModels.UserViewModel

@{
    ViewBag.Title = Resources.Resource.Authorization;
    ViewBag.ClassBody = "authorization-page";
}

<section class="container">
    <div class="form">
        <h1>Авторизация</h1>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <p>
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Resource.Username} })
            </p>
            <p>
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Resource.Password } })
            </p>
            <p>
                @Html.ValidationMessage("", new { @class = "text-danger" })
            </p>
            <p class="submit">
                <input type="submit" name="commit" value = @Resources.Resource.LogIn>
            </p>
        }
    </div>
</section>

