﻿html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Slabo 27px', serif;*/
    background-color: #fafafa;
}

/*HEADER*/

header, main, footer {
    width: 100%;
    /*background-color: white;*/
}

    header .header-logo a {
        text-decoration: none;
        font-size: 34px;
        color: red;
    }

        header .header-logo a > span {
            color: black;
            /*text-decoration: underline;*/
        }

header {
    display: inherit;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.header-logo, .header-menu {
    min-height: 50px;
}

header .header-menu > ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

    header .header-menu > ul > li {
        display: block;
        border: 2px solid #fafafa;
        padding: 5px;
        margin: 2px 5px 2px 5px;
        transition-duration: 0.5s;
    }

        header .header-menu > ul > li:hover {
            border-bottom: 2px solid black;
        }

        header .header-menu > ul > li a {
            text-decoration: none;
            color: black;
            height: 30px;
            display: flex;
            align-items: center;
        }

        header .header-menu > ul > li:last-child {
            transition-duration: 0.5s;
        }

            header .header-menu > ul > li:last-child:hover {
                border-bottom: 2px solid #3d4eaf;
            }

            header .header-menu > ul > li:last-child a {
                float: left;
            }

            header .header-menu > ul > li:last-child img {
                width: 30px;
                height: 30px;
                line-height: 15px;
                display: block;
                float: right;
                margin-left: 5px;
            }

/*HEADER*/

/*MAIN*/

main {
    /*border: 1px solid black;*/
    min-height: calc(100vh - 150px);
    box-sizing: border-box;
    background-color: #fafafa;
}

.container-list-group {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .container-list-group article {
        display: flex;
        /* min-width: 400px; */
        /* max-width: 400px; */
        width: 400px;
        /* min-height: 450px; */
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        /* background-image: url("pictures/backgroundAbstract.png"); */
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        box-shadow: 1px 2px 4px 0 rgb(185, 182, 182);
    }

        .container-list-group article .name-group {
            text-align: center;
            padding: 15px;
            background: white;
            border-radius: 3px;
            border: 1px solid gainsboro;
            /* text-overflow: ellipsis; */
        }

            .container-list-group article .name-group a {
                text-decoration: none;
                font-size: 28px;
                color: black;
                /* padding: 10px; */
                border-radius: 15px;
                /* max-width: 400px; */
                text-overflow: ellipsis;
                overflow: hidden;
            }

                .container-list-group article .name-group a:hover {
                    text-decoration: underline;
                }

        .container-list-group article .count-user {
            width: 100%;
        }

            .container-list-group article .count-user span {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin: 10px 0 1px 0;
                background-color: white;
                border: 1px solid #e6e6e6;
                padding: 3px;
                box-sizing: border-box;
                border-radius: 3px;
                min-height: 33px;
            }

            .container-list-group article .count-user a, .description {
                text-decoration: none;
                background-color: #d5d5d530;
                padding: 3px;
                display: block;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
                color: red;
                font-size: 16px;
                box-sizing: border-box;
            }

.description {
    color: grey !important;
}

.container-list-group article .count-user a:hover {
    text-decoration: underline;
}

.container-list-group article .main-menu {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.container-list-group article .main-button-menu {
    width: 15px;
    height: 15px;
    margin: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent url("pictures/arrows.png");
    background-position: 0 15px;
}

.show-menu {
    background-position: 0 0 !important;
}

.container-list-group article .group-menu {
    width: 100%;
    margin: 0 0 5% 0;
}

    .container-list-group article .group-menu form {
        display: flex;
        flex-direction: column;
    }

    .container-list-group article .group-menu input {
        margin: 1px 0 2px 0;
        padding: 2px;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        outline: none;
        cursor: pointer;
        background-color: white;
        display: block;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
    }

.main-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .main-message > img {
        width: 600px;
    }

    .main-message > h1 {
        font-family: 'Lato', sans-serif;
        margin: 2px 0;
    }

    .main-message > span > a {
        color: #3f51b5;
        text-decoration: underline;
    }

.container {
    margin: 80px auto;
    /* width: 640px; */
    display: flex;
    /* min-height: 100%; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-list-user {
}

    .container-list-user table {
        width: 100%;
    }

.table_dark {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 14px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: #192135;
    margin: 10px 0;
}

    .table_dark th {
        color: #f3a300;
        border-bottom: 1px solid white;
        padding: 12px 17px;
    }

    .table_dark td {
        color: #CAD4D6;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        padding: 7px 17px;
    }

        .table_dark td a {
            color: #CAD4D6;
        }

        .table_dark td img {
            border-radius: 10px;
        }

    .table_dark tr:last-child td {
        border-bottom: none;
    }

    .table_dark td:last-child {
        border-right: none;
    }

    .table_dark tr td form {
        display: inline-block;
    }

    .table_dark tr td button {
        border: none;
        width: 15px;
        height: 15px;
        display: inline-block;
        outline: none;
        cursor: pointer;
        background: transparent;
    }


    .table_dark tr td form:first-child button {
        background: url("pictures/yes.svg");
        background-size: cover;
    }


    .table_dark tr td form:last-child button {
        background: url("pictures/no.svg");
        background-size: cover;
        margin-left: 20px;
    }

.group-users main {
    display: flex;
    justify-content: center;
}

.simple-little-table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.table-show-users tr:last-child {
    min-width: 20%;
}

.simple-little-table th {
    font-weight: bold;
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

    .simple-little-table th:first-child {
        text-align: left;
        padding-left: 20px;
    }

.simple-little-table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.simple-little-table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.simple-little-table tr {
    text-align: center;
    padding-left: 20px;
}

    .simple-little-table tr td:first-child {
        text-align: left;
        padding-left: 20px;
        border-left: 0;
    }

    .simple-little-table tr td {
        padding: 18px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
    }

    .simple-little-table tr:nth-child(even) td {
        background: #f6f6f6;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
        background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
    }

    .simple-little-table tr:last-child td {
        border-bottom: 0;
    }

        .simple-little-table tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .simple-little-table tr:last-child td:last-child {
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

    .simple-little-table tr:hover td {
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
        background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
    }

.simple-little-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.simple-little-table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

.simple-little-table a:active,
.simple-little-table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}



/*Authorize*/

.form {
    position: relative;
    padding: 20px 20px 20px;
    min-width: 270px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 2px 3px 8px 1px rgba(0, 0, 0, 0.3);
}

    .form:before {
        /* content: ''; */
        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        z-index: -1;
        background: rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }

    .form h1 {
        margin: -20px -20px 21px;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #555;
        text-align: center;
        text-shadow: 0 1px white;
        background: #f3f3f3;
        border-bottom: 1px solid #cfcfcf;
        border-radius: 3px 3px 0 0;
        -webkit-box-shadow: 0 1px whitesmoke;
        box-shadow: 0 1px whitesmoke;
    }

    .form p {
        margin: 20px 0 0;
    }

        .form p:first-child {
            margin-top: 0;
        }

    .form input[type=text], .form input[type=password] {
        width: 100%;
        box-sizing: border-box;
    }

    .form p.remember_me {
        float: left;
        line-height: 31px;
    }

        .form p.remember_me label {
            font-size: 12px;
            color: #777;
            cursor: pointer;
        }

        .form p.remember_me input {
            position: relative;
            bottom: 1px;
            margin-right: 4px;
            vertical-align: middle;
        }

    .form p.submit {
        text-align: right;
    }

.field-validation-error {
    border-bottom: 2px solid red;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

    .field-validation-error:hover {
        background-color: #ff000029;
    }

.form-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

    .form-help a {
        color: #cce7fa;
        text-decoration: none;
    }

        .form-help a:hover {
            text-decoration: underline;
        }

.create-form input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.container input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

    .container input[type=text], .container input[type=password] {
        margin: 5px;
        padding: 0 10px;
        height: 34px;
        color: #404040;
        background: white;
        border: 1px solid;
        border-color: #c4c4c4 #d1d1d1 #d4d4d4;
        border-radius: 2px;
        outline: 5px solid #eff4f7;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    }

        .container input[type=text]:focus, .container input[type=password]:focus {
            border-color: #7dc9e2;
            outline-color: #dceefc;
            outline-offset: 0;
        }

    .container input[type=submit] {
        padding: 0 18px;
        height: 29px;
        font-size: 12px;
        font-weight: bold;
        color: #527881;
        text-shadow: 0 1px #e3f1f1;
        background: #cde5ef;
        border: 1px solid;
        border-color: #b4ccce #b3c0c8 #9eb9c2;
        border-radius: 16px;
        outline: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    }

        .container input[type=submit]:active {
            background: #cde5ef;
            border-color: #9eb9c2 #b3c0c8 #b4ccce;
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
        }

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}

.container-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3803921568627451);
}

.name-group {
    text-align: center;
    /*border-bottom: 1px solid black;*/
    font-size: 28px;
}

    .name-group h1 {
        margin: 10px;
        /*text-decoration: underline;*/
        font-weight: 100;
    }

.container-photo .photo {
    /*     border: 1px solid black; */
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container-photo .photo div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .container-photo .photo div:first-child img {
            width: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 50%;
            box-shadow: 10px 9px 5px -5px rgba(0,0,0,0.75);
        }

/*MAIN*/

/*FOOTER*/

footer {
    height: 60px;
    box-sizing: border-box;
    border-top: 1px solid black;
}

/*FOOTER*/

/*Pages*/

header, main, footer {
    width: 65%;
    min-width: 60%;
}

.authorization-page header .header-logo a,
.group-show-page header .header-logo a,
.wait-page header .header-logo a {
    font-size: 54px;
}

    .authorization-page header .header-logo a > span {
        color: black;
        /*text-decoration: underline;*/
    }

.loaded {
    position: absolute;
    /* width: 78px; */
    /* height: 78px; */
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff5e;
}

    .loaded .wBall {
        position: absolute;
        width: 74px;
        height: 74px;
        opacity: 0;
        transform: rotate(225deg);
        /* background-color: white; */
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        animation: orbit 6.96s infinite;
        -o-animation: orbit 6.96s infinite;
        -ms-animation: orbit 6.96s infinite;
        -webkit-animation: orbit 6.96s infinite;
        -moz-animation: orbit 6.96s infinite;
    }

        .loaded .wBall .wInnerBall {
            position: absolute;
            width: 10px;
            height: 10px;
            background: rgb(0, 0, 0);
            left: 0px;
            top: 0px;
            border-radius: 10px;
        }

    .loaded #wBall_1 {
        animation-delay: 1.52s;
        -o-animation-delay: 1.52s;
        -ms-animation-delay: 1.52s;
        -webkit-animation-delay: 1.52s;
        -moz-animation-delay: 1.52s;
    }

    .loaded #wBall_2 {
        animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
    }

    .loaded #wBall_3 {
        animation-delay: 0.61s;
        -o-animation-delay: 0.61s;
        -ms-animation-delay: 0.61s;
        -webkit-animation-delay: 0.61s;
        -moz-animation-delay: 0.61s;
    }

    .loaded #wBall_4 {
        animation-delay: 0.91s;
        -o-animation-delay: 0.91s;
        -ms-animation-delay: 0.91s;
        -webkit-animation-delay: 0.91s;
        -moz-animation-delay: 0.91s;
    }

    .loaded #wBall_5 {
        animation-delay: 1.22s;
        -o-animation-delay: 1.22s;
        -ms-animation-delay: 1.22s;
        -webkit-animation-delay: 1.22s;
        -moz-animation-delay: 1.22s;
    }



@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}
