﻿@using Microsoft.AspNet.Identity

@model IList<ClassGallery.Mvc.ViewModels.GroupViewModel>

@{
    ViewBag.Title = Resources.Resource.MainPage;
    ViewBag.ClassBody = "home-page";
}

@section HeaderMenu {
    <div class="header-menu">
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="#">@User.Identity.Name</a>
                </li>
                <li>
                    @Html.ActionLink(Resources.Resource.CreateGroup, "Create", "Group")
                </li>
                <li>
                    @Html.ActionLink(Resources.Resource.LogOut, "Logout", "Account")
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(Resources.Resource.LogIn, "FacebookLogin", "Facebook")
                </li>
            }
        </ul>
    </div>
}


<div class="container-list-group">
    @foreach (var group in Model)
    {
        <article id="@group.Id">
            <div class="main-menu">
                <div class="group-menu">

                    @if (User.Identity.IsAuthenticated && group.IsInGroup)
                    {
                        <input type="button" name="copy-link" data-link="@group.InviteLink" value=@Resources.Resource.CopyLink>
                        if (User.Identity.GetUserId() == group.CreatorId)
                        {

                            using (Html.BeginForm("Rename", "Group", FormMethod.Get))
                            {
                                @Html.Hidden("groupId", group.Id)
                                <input type="submit" name="rename" value=@Resources.Resource.RenameGroup />
                            }

                            using (Html.BeginForm("Delete", "Group", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("groupId", group.Id)
                                <input type="submit" name="delete" value=@Resources.Resource.DeleteGroup />
                            }
                        }
                    }
                </div>
            </div>
            <div class="name-group">
                @Html.ActionLink(group.Name, "GroupUsers", "Group", new { groupId = group.Id }, null)
            </div>

            <div class="count-user">
                @if (User.Identity.IsAuthenticated && group.RequestsNumber != 0 && group.IsInGroup)
                {
                    <span>
                        @Html.ActionLink(linkText: Resources.Resource.Requests + $": {group.RequestsNumber}", actionName: "Requests", 
                         controllerName: "Group", htmlAttributes: null, routeValues: new { groupId = group.Id })
                    </span>
                }
            </div>

        </article>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/copyLink")
}